<% if user_signed_in? %>
  <li style='float:right;'>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <li>
    <%= link_to 'New album', new_user_album_path(current_user) %>
  </li>
  <li>
    | <%= link_to 'Albums', user_albums_path(current_user) %>
  </li>  
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>